.navigation-bar-wrapper {
  display: contents;
}
 
.navigation-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navigation-bar-navbar-interactive {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 100%;
  height: 160px;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-theme-primary2);
}
 
.navigation-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navigation-bar-image {
  width: 147px;
  height: 156px;
  object-fit: cover;
}
 
.navigation-bar-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  animation-name: none;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navigation-bar-link11 {
  font-size: 20px;
  font-family: "FredokaOne-Regular";
  border-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  text-decoration: none;
}
 
.navigation-bar-writing {
  color: #ffffff;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navigation-bar-link31 {
  color: #ffffff;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
}
 
.navigation-bar-link41 {
  color: #fffefe;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
  text-decoration: none;
}
 
.navigation-bar-link51 {
  color: #ffffff;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
  text-decoration: none;
}
 
.navigation-bar-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-bar-burger-menu {
  display: none;
}
 
.navigation-bar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navigation-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navigation-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navigation-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navigation-bar-logo {
  height: 3rem;
}
 
.navigation-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navigation-bar-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navigation-bar-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navigation-bar-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.wifand-christmas-special-fragment13 {
  display: contents;
}
 
.wifand-christmas-special-text15 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment11 {
  display: contents;
}
 
.wifand-christmas-special-text13 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment12 {
  display: contents;
}
 
.wifand-christmas-special-text14 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment10 {
  display: contents;
}
 
.wifand-christmas-special-text10 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment14 {
  display: contents;
}
 
.wifand-christmas-special-text16 {
  display: inline-block;
}
 
.navigation-barroot-class-name {
  background-color: #b594e1;
}
 

 

 

 

 
@media(max-width: 991px) {
  .navigation-bar-navbar-interactive {
    background-color: #b594e1;
  }
  .navigation-bar-image {
    width: 54px;
    height: 88px;
    padding-right: 0px;
  }
  .navigation-bar-link11 {
    fill: transparent;
    color: #ffffff;
    display: flex;
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .wifand-christmas-special-text10 {
    box-shadow: inherit;
  }
  .wifand-christmas-special-text11 {
    color: #ffffff;
  }
}
 
@media(max-width: 767px) {
  .navigation-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-bar-desktop-menu {
    display: none;
  }
  .navigation-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navigation-bar-navbar-interactive {
    height: 130px;
    padding: var(--dl-space-space-unit);
    position: relative;
    padding-left: var(--dl-space-space-twounits);
  }
  .navigation-bar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.wifand-christmas-special-banner-wrapper {
  display: contents;
}
 
.wifand-christmas-special-banner-header30 {
  gap: var(--dl-space-space-twounits);
}
 
.wifand-christmas-special-banner-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.wifand-christmas-special-banner-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
 
.wifand-christmas-special-banner-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
 
.wifand-christmas-special-banner-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.wifand-christmas-special-banner-text1 {
  text-align: center;
}
 
.wifand-christmas-special-banner-text2 {
  text-align: center;
}
 
.wifand-christmas-special-banner-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.wifand-christmas-special-banner-text3 {
  text-align: center;
}
 
.wifand-christmas-special-banner-text4 {
  text-align: center;
}
 
.wifand-christmas-special-fragment18 {
  display: contents;
}
 
.wifand-christmas-special-text20 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-family: "ReallyPetshop";
}
 
.wifand-christmas-special-fragment16 {
  display: contents;
}
 
.wifand-christmas-special-text18 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment15 {
  display: contents;
}
 
.wifand-christmas-special-text17 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment17 {
  display: contents;
}
 
.wifand-christmas-special-text19 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
 

 
@media(max-width: 991px) {
  .wifand-christmas-special-banner-text1 {
    text-align: center;
  }
  .wifand-christmas-special-banner-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .wifand-christmas-special-banner-actions {
    width: 100%;
    flex-direction: column;
  }
  .wifand-christmas-special-banner-button1 {
    width: 100%;
  }
  .wifand-christmas-special-banner-button2 {
    width: 100%;
  }
}

.advent-calendar-wrapper {
  display: contents;
}
 
.advent-calendar-container1 {
  width: 715px;
  height: 692px;
  display: flex;
  position: relative;
  margin-top: 4px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0);
}
 
.advent-calendar-container2 {
  width: 724px;
  height: 676px;
}
 
.advent-calendar-container3 {
  display: contents;
}
 
.advent-calendarroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  background-color: rgba(217, 217, 217, 0);
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-primary2);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
}
 
.footer-container2 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.footer-image {
  width: 200px;
  object-fit: cover;
}
 
.footer-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer-container3 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.footer-text-input {
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: "Poppins-Light";
  font-weight: 400;
  background-color: transparent;
}
 
.footer-action1 {
  font-family: "Poppins-Light";
  text-decoration: none;
}
 
.footer-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-link1 {
  text-decoration: none;
}
 
.footer-link2 {
  text-decoration: none;
}
 
.footer-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-link6 {
  text-decoration: none;
}
 
.footer-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-link11 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-social-link2 {
  font-family: "Poppins";
}
 
.footer-link13 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-social-link3 {
  font-family: "Poppins";
  text-decoration: none;
}
 
.footer-link14 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-left: 8px 0;
}
 
.footer-social-link51 {
  font-family: "Poppins";
  text-decoration: none;
}
 
.footer-link15 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-left: 8px 0;
}
 
.footer-social-link52 {
  font-family: "Poppins";
  text-decoration: none;
}
 
.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer-footer-links3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.footer-link12 {
  text-decoration: none;
}
 
.wifand-christmas-special-fragment23 {
  display: contents;
}
 
.wifand-christmas-special-text25 {
  color: #922727;
  display: inline-block;
}
 
.wifand-christmas-special-fragment31 {
  display: contents;
}
 
.wifand-christmas-special-text33 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment21 {
  display: contents;
}
 
.wifand-christmas-special-text23 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment35 {
  display: contents;
}
 
.wifand-christmas-special-text37 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment22 {
  display: contents;
}
 
.wifand-christmas-special-text24 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment34 {
  display: contents;
}
 
.wifand-christmas-special-text36 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment20 {
  display: contents;
}
 
.wifand-christmas-special-text22 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment24 {
  display: contents;
}
 
.wifand-christmas-special-text26 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment30 {
  display: contents;
}
 
.wifand-christmas-special-text32 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment19 {
  display: contents;
}
 
.wifand-christmas-special-text21 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment27 {
  display: contents;
}
 
.wifand-christmas-special-text29 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment29 {
  display: contents;
}
 
.wifand-christmas-special-text31 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment26 {
  display: contents;
}
 
.wifand-christmas-special-text28 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment25 {
  display: contents;
}
 
.wifand-christmas-special-text27 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment28 {
  display: contents;
}
 
.wifand-christmas-special-text30 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment32 {
  display: contents;
}
 
.wifand-christmas-special-text34 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment33 {
  display: contents;
}
 
.wifand-christmas-special-text35 {
  display: inline-block;
}
 

 

 

 
@media(max-width: 991px) {
  .footer-container2 {
    width: 389px;
  }
  .footer-newsletter {
    width: 300px;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-newsletter {
    width: 100%;
  }
  .footer-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-button {
    width: 208px;
  }
  .footer-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-column1 {
    align-items: center;
  }
  .footer-column1-title {
    text-align: center;
  }
  .footer-footer-links1 {
    align-self: center;
  }
  .footer-column2 {
    align-items: center;
  }
  .footer-column2-title {
    text-align: center;
  }
  .footer-footer-links2 {
    align-self: center;
  }
  .footer-column3 {
    align-items: center;
  }
  .footer-social-link1-title {
    text-align: center;
  }
  .footer-social-links {
    align-self: center;
  }
  .footer-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .footer-actions {
    width: 100%;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-button {
    width: 100%;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer-credits {
    gap: 0;
  }
  .footer-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.wifand-christmas-special-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.wifand-christmas-special-fragment10 {
  display: contents;
}
 
.wifand-christmas-special-text10 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment11 {
  display: contents;
}
 
.wifand-christmas-special-text13 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment12 {
  display: contents;
}
 
.wifand-christmas-special-text14 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment13 {
  display: contents;
}
 
.wifand-christmas-special-text15 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment14 {
  display: contents;
}
 
.wifand-christmas-special-text16 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment15 {
  display: contents;
}
 
.wifand-christmas-special-text17 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment16 {
  display: contents;
}
 
.wifand-christmas-special-text18 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment17 {
  display: contents;
}
 
.wifand-christmas-special-text19 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
 
.wifand-christmas-special-fragment18 {
  display: contents;
}
 
.wifand-christmas-special-text20 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-family: "ReallyPetshop";
}
 
.wifand-christmas-special-fragment19 {
  display: contents;
}
 
.wifand-christmas-special-text21 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment20 {
  display: contents;
}
 
.wifand-christmas-special-text22 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment21 {
  display: contents;
}
 
.wifand-christmas-special-text23 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment22 {
  display: contents;
}
 
.wifand-christmas-special-text24 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment23 {
  display: contents;
}
 
.wifand-christmas-special-text25 {
  color: #922727;
  display: inline-block;
}
 
.wifand-christmas-special-fragment24 {
  display: contents;
}
 
.wifand-christmas-special-text26 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment25 {
  display: contents;
}
 
.wifand-christmas-special-text27 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment26 {
  display: contents;
}
 
.wifand-christmas-special-text28 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment27 {
  display: contents;
}
 
.wifand-christmas-special-text29 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment28 {
  display: contents;
}
 
.wifand-christmas-special-text30 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment29 {
  display: contents;
}
 
.wifand-christmas-special-text31 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment30 {
  display: contents;
}
 
.wifand-christmas-special-text32 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment31 {
  display: contents;
}
 
.wifand-christmas-special-text33 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment32 {
  display: contents;
}
 
.wifand-christmas-special-text34 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment33 {
  display: contents;
}
 
.wifand-christmas-special-text35 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment34 {
  display: contents;
}
 
.wifand-christmas-special-text36 {
  display: inline-block;
}
 
.wifand-christmas-special-fragment35 {
  display: contents;
}
 
.wifand-christmas-special-text37 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .wifand-christmas-special-text10 {
    box-shadow: inherit;
  }
  .wifand-christmas-special-text11 {
    color: #ffffff;
  }
}
