.navigation-bar-wrapper {
  display: contents;
}
.navigation-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-navbar-interactive {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 100%;
  height: 160px;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #b594e1;
}
.navigation-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navigation-bar-image {
  width: 147px;
  height: 156px;
  object-fit: cover;
}
.navigation-bar-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-bar-link11 {
  font-size: 20px;
  font-family: "FredokaOne-Regular";
  border-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  text-decoration: none;
}
.navigation-bar-writing {
  color: #ffffff;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
}
.navigation-bar-link31 {
  color: #ffffff;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
}
.navigation-bar-link41 {
  color: #fffefe;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
}
.navigation-bar-link51 {
  color: #ffffff;
  font-size: 20px;
  font-family: "FredokaOne-Regular";
  text-decoration: none;
}
.navigation-bar-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-bar-burger-menu {
  display: none;
}
.navigation-bar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-bar-logo {
  height: 3rem;
}
.navigation-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bar-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.writing-fragment13 {
  display: contents;
}
.writing-text15 {
  display: inline-block;
}
.writing-fragment11 {
  display: contents;
}
.writing-text13 {
  display: inline-block;
}
.writing-fragment12 {
  display: contents;
}
.writing-text14 {
  display: inline-block;
}
.writing-fragment10 {
  display: contents;
}
.writing-text10 {
  display: inline-block;
}
.writing-fragment14 {
  display: contents;
}
.writing-text16 {
  display: inline-block;
}
.navigation-barroot-class-name {
  background-color: #b594e1;
}


@media(max-width: 991px) {
  .navigation-bar-navbar-interactive {
    background-color: #b594e1;
  }
  .navigation-bar-image {
    width: 54px;
    height: 88px;
    padding-right: 0px;
  }
  .navigation-bar-link11 {
    fill: transparent;
    color: #ffffff;
    display: flex;
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .writing-text10 {
    box-shadow: inherit;
  }
  .writing-text11 {
    color: #ffffff;
  }
}
@media(max-width: 767px) {
  .navigation-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-bar-desktop-menu {
    display: none;
  }
  .navigation-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navigation-bar-navbar-interactive {
    height: 130px;
    padding: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
  }
  .navigation-bar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.recent-writing-wrapper {
  display: contents;
}
.recent-writing-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.recent-writing-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.recent-writing-section-title {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.recent-writing-text10 {
  text-align: center;
}
.recent-writing-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.recent-writing-text11 {
  text-align: center;
}
.recent-writing-text12 {
  text-align: center;
}
.recent-writing-content2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.recent-writing-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.recent-writing-feature1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.recent-writing-navlink1 {
  display: contents;
}
.recent-writing-image1 {
  width: 100%;
  height: 254px;
  object-fit: cover;
  text-decoration: none;
}
.recent-writing-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.recent-writing-navlink2 {
  display: contents;
}
.recent-writing-feature1-title {
  text-align: center;
  text-decoration: none;
}
.recent-writing-feature2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.recent-writing-image2 {
  width: 100%;
  height: 254px;
  object-fit: cover;
}
.recent-writing-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.recent-writing-feature3 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.recent-writing-image3 {
  width: 100%;
  height: 257px;
  object-fit: cover;
}
.recent-writing-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.writing-fragment15 {
  display: contents;
}
.writing-text17 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
.writing-fragment16 {
  display: contents;
}
.writing-text18 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "ReallyPetshop";
}
.writing-fragment17 {
  display: contents;
}
.writing-text19 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}
.writing-fragment18 {
  display: contents;
}
.writing-text20 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}
.writing-fragment19 {
  display: contents;
}
.writing-text21 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
.writing-fragment20 {
  display: contents;
}
.writing-text22 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
.writing-fragment21 {
  display: contents;
}
.writing-text23 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
}
.writing-fragment22 {
  display: contents;
}
.writing-text24 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}
.writing-fragment23 {
  display: contents;
}
.writing-text25 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}

@media(max-width: 991px) {
  .recent-writing-section-title {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .recent-writing-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .recent-writing-section-title {
    width: auto;
  }
  .recent-writing-text11 {
    text-align: center;
  }
  .recent-writing-row {
    flex-direction: column;
  }
  .recent-writing-feature2 {
    width: auto;
  }
  .recent-writing-feature3 {
    width: auto;
  }
}

.footer-wrapper {
  display: contents;
}
.footer-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-container2 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.footer-image {
  width: 200px;
  object-fit: cover;
}
.footer-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer-container3 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footer-text-input {
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: "Poppins-Light";
  font-weight: 400;
  background-color: transparent;
}
.footer-action1 {
  font-family: "Poppins-Light";
  text-decoration: none;
}
.footer-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link1 {
  text-decoration: none;
}
.footer-link2 {
  text-decoration: none;
}
.footer-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link6 {
  text-decoration: none;
}
.footer-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link11 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-social-link2 {
  font-family: "Poppins";
}
.footer-link13 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-social-link3 {
  font-family: "Poppins";
  text-decoration: none;
}
.footer-link14 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-left: 8px 0;
}
.footer-social-link51 {
  font-family: "Poppins";
  text-decoration: none;
}
.footer-link15 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-left: 8px 0;
}
.footer-social-link52 {
  font-family: "Poppins";
  text-decoration: none;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer-footer-links3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.footer-link12 {
  text-decoration: none;
}
.writing-fragment28 {
  display: contents;
}
.writing-text30 {
  color: #922727;
  display: inline-block;
}
.writing-fragment36 {
  display: contents;
}
.writing-text38 {
  display: inline-block;
}
.writing-fragment26 {
  display: contents;
}
.writing-text28 {
  display: inline-block;
}
.writing-fragment40 {
  display: contents;
}
.writing-text42 {
  display: inline-block;
}
.writing-fragment27 {
  display: contents;
}
.writing-text29 {
  display: inline-block;
}
.writing-fragment39 {
  display: contents;
}
.writing-text41 {
  display: inline-block;
}
.writing-fragment25 {
  display: contents;
}
.writing-text27 {
  display: inline-block;
}
.writing-fragment29 {
  display: contents;
}
.writing-text31 {
  display: inline-block;
}
.writing-fragment35 {
  display: contents;
}
.writing-text37 {
  display: inline-block;
}
.writing-fragment24 {
  display: contents;
}
.writing-text26 {
  display: inline-block;
}
.writing-fragment32 {
  display: contents;
}
.writing-text34 {
  display: inline-block;
}
.writing-fragment34 {
  display: contents;
}
.writing-text36 {
  display: inline-block;
}
.writing-fragment31 {
  display: contents;
}
.writing-text33 {
  display: inline-block;
}
.writing-fragment30 {
  display: contents;
}
.writing-text32 {
  display: inline-block;
}
.writing-fragment33 {
  display: contents;
}
.writing-text35 {
  display: inline-block;
}
.writing-fragment37 {
  display: contents;
}
.writing-text39 {
  display: inline-block;
}
.writing-fragment38 {
  display: contents;
}
.writing-text40 {
  display: inline-block;
}

@media(max-width: 991px) {
  .footer-container2 {
    width: 389px;
  }
  .footer-newsletter {
    width: 300px;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-newsletter {
    width: 100%;
  }
  .footer-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-button {
    width: 208px;
  }
  .footer-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-column1 {
    align-items: center;
  }
  .footer-column1-title {
    text-align: center;
  }
  .footer-footer-links1 {
    align-self: center;
  }
  .footer-column2 {
    align-items: center;
  }
  .footer-column2-title {
    text-align: center;
  }
  .footer-footer-links2 {
    align-self: center;
  }
  .footer-column3 {
    align-items: center;
  }
  .footer-social-link1-title {
    text-align: center;
  }
  .footer-social-links {
    align-self: center;
  }
  .footer-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .footer-actions {
    width: 100%;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-button {
    width: 100%;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer-credits {
    gap: 0;
  }
  .footer-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.writing-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.writing-fragment10 {
  display: contents;
}
.writing-text10 {
  display: inline-block;
}
.writing-fragment11 {
  display: contents;
}
.writing-text13 {
  display: inline-block;
}
.writing-fragment12 {
  display: contents;
}
.writing-text14 {
  display: inline-block;
}
.writing-fragment13 {
  display: contents;
}
.writing-text15 {
  display: inline-block;
}
.writing-fragment14 {
  display: contents;
}
.writing-text16 {
  display: inline-block;
}
.writing-fragment15 {
  display: contents;
}
.writing-text17 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
.writing-fragment16 {
  display: contents;
}
.writing-text18 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "ReallyPetshop";
}
.writing-fragment17 {
  display: contents;
}
.writing-text19 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}
.writing-fragment18 {
  display: contents;
}
.writing-text20 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}
.writing-fragment19 {
  display: contents;
}
.writing-text21 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
.writing-fragment20 {
  display: contents;
}
.writing-text22 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "FredokaOne-Regular";
}
.writing-fragment21 {
  display: contents;
}
.writing-text23 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
}
.writing-fragment22 {
  display: contents;
}
.writing-text24 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}
.writing-fragment23 {
  display: contents;
}
.writing-text25 {
  color: var(--dl-color-theme-primary2);
  display: inline-block;
  font-family: "Poppins";
}
.writing-fragment24 {
  display: contents;
}
.writing-text26 {
  display: inline-block;
}
.writing-fragment25 {
  display: contents;
}
.writing-text27 {
  display: inline-block;
}
.writing-fragment26 {
  display: contents;
}
.writing-text28 {
  display: inline-block;
}
.writing-fragment27 {
  display: contents;
}
.writing-text29 {
  display: inline-block;
}
.writing-fragment28 {
  display: contents;
}
.writing-text30 {
  color: #922727;
  display: inline-block;
}
.writing-fragment29 {
  display: contents;
}
.writing-text31 {
  display: inline-block;
}
.writing-fragment30 {
  display: contents;
}
.writing-text32 {
  display: inline-block;
}
.writing-fragment31 {
  display: contents;
}
.writing-text33 {
  display: inline-block;
}
.writing-fragment32 {
  display: contents;
}
.writing-text34 {
  display: inline-block;
}
.writing-fragment33 {
  display: contents;
}
.writing-text35 {
  display: inline-block;
}
.writing-fragment34 {
  display: contents;
}
.writing-text36 {
  display: inline-block;
}
.writing-fragment35 {
  display: contents;
}
.writing-text37 {
  display: inline-block;
}
.writing-fragment36 {
  display: contents;
}
.writing-text38 {
  display: inline-block;
}
.writing-fragment37 {
  display: contents;
}
.writing-text39 {
  display: inline-block;
}
.writing-fragment38 {
  display: contents;
}
.writing-text40 {
  display: inline-block;
}
.writing-fragment39 {
  display: contents;
}
.writing-text41 {
  display: inline-block;
}
.writing-fragment40 {
  display: contents;
}
.writing-text42 {
  display: inline-block;
}
@media(max-width: 991px) {
  .writing-text10 {
    box-shadow: inherit;
  }
  .writing-text11 {
    color: #ffffff;
  }
}
