.advent-calendar-container1 {
  width: 715px;
  height: 692px;
  display: flex;
  position: relative;
  margin-top: 4px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0);
}
 
.advent-calendar-container2 {
  width: 724px;
  height: 676px;
}
 
.advent-calendar-container3 {
  display: contents;
}
 
.advent-calendarroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  background-color: rgba(217, 217, 217, 0);
}
