.content-list1-wrapper {
  display: contents;
}
.content-list1-container {
  width: 100%;
  height: 2374px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list1-ul {
  height: 2458px;
  align-items: flex-start;
}
.content-list1-heading11 {
  align-self: flex-start;
}
.content-list1-content11 {
  height: 847px;
}
.content-list1-heading12 {
  align-self: flex-start;
}
.content-list1-content12 {
  height: 583px;
}
.content-list1-heading13 {
  align-self: flex-start;
}
.content-list1-content13 {
  height: 418px;
}
.content-list1-heading14 {
  align-self: flex-start;
}
.content-list1-content14 {
  height: 301px;
}
.component-fragment1 {
  display: contents;
}
.component-text10 {
  display: inline-block;
}
.component-fragment2 {
  display: contents;
}
.component-text30 {
  display: inline-block;
  font-size: 20px;
  font-family: "Poppins";
}
.component-fragment3 {
  display: contents;
}
.component-text31 {
  display: inline-block;
  font-family: "Poppins";
}
.component-fragment4 {
  display: contents;
}
.component-text32 {
  display: inline-block;
}
.component-text33 {
  font-family: "Poppins";
}
.component-text34 {
  font-family: "Poppins";
}
.component-text35 {
  font-family: "Poppins";
}
.component-text36 {
  font-family: "Poppins";
}
.component-text37 {
  font-family: "Poppins";
}
.component-text38 {
  font-family: "Poppins";
}
.component-text39 {
  font-family: "Poppins";
}
.component-text40 {
  font-family: "Poppins";
}
.component-text41 {
  font-family: "Poppins";
}
.component-fragment5 {
  display: contents;
}
.component-text43 {
  display: inline-block;
  font-family: "Poppins";
}
.component-fragment6 {
  display: contents;
}
.component-text44 {
  display: inline-block;
}
.component-text45 {
  font-family: "Poppins";
}
.component-text46 {
  font-family: "Poppins";
}
.component-text47 {
  font-family: "Poppins";
}
.component-text48 {
  font-family: "Poppins";
}
.component-text49 {
  font-family: "Poppins";
}
.component-fragment7 {
  display: contents;
}
.component-text53 {
  display: inline-block;
  font-family: "Poppins";
}
.component-fragment8 {
  display: contents;
}
.component-text54 {
  display: inline-block;
}
.component-text55 {
  font-family: "Poppins";
}
.component-text56 {
  font-family: "Poppins";
}
.component-text57 {
  font-family: "Poppins";
}
.component-text58 {
  font-family: "Poppins";
}
.component-text59 {
  font-family: "Poppins";
}
.component-text60 {
  font-family: "Poppins";
}


.component-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-fragment1 {
  display: contents;
}
.component-text10 {
  display: inline-block;
}
.component-fragment2 {
  display: contents;
}
.component-text30 {
  display: inline-block;
  font-size: 20px;
  font-family: "Poppins";
}
.component-fragment3 {
  display: contents;
}
.component-text31 {
  display: inline-block;
  font-family: "Poppins";
}
.component-fragment4 {
  display: contents;
}
.component-text32 {
  display: inline-block;
}
.component-text33 {
  font-family: "Poppins";
}
.component-text34 {
  font-family: "Poppins";
}
.component-text35 {
  font-family: "Poppins";
}
.component-text36 {
  font-family: "Poppins";
}
.component-text37 {
  font-family: "Poppins";
}
.component-text38 {
  font-family: "Poppins";
}
.component-text39 {
  font-family: "Poppins";
}
.component-text40 {
  font-family: "Poppins";
}
.component-text41 {
  font-family: "Poppins";
}
.component-fragment5 {
  display: contents;
}
.component-text43 {
  display: inline-block;
  font-family: "Poppins";
}
.component-fragment6 {
  display: contents;
}
.component-text44 {
  display: inline-block;
}
.component-text45 {
  font-family: "Poppins";
}
.component-text46 {
  font-family: "Poppins";
}
.component-text47 {
  font-family: "Poppins";
}
.component-text48 {
  font-family: "Poppins";
}
.component-text49 {
  font-family: "Poppins";
}
.component-fragment7 {
  display: contents;
}
.component-text53 {
  display: inline-block;
  font-family: "Poppins";
}
.component-fragment8 {
  display: contents;
}
.component-text54 {
  display: inline-block;
}
.component-text55 {
  font-family: "Poppins";
}
.component-text56 {
  font-family: "Poppins";
}
.component-text57 {
  font-family: "Poppins";
}
.component-text58 {
  font-family: "Poppins";
}
.component-text59 {
  font-family: "Poppins";
}
.component-text60 {
  font-family: "Poppins";
}
