.features-layout349 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.features-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.features-text11 {
  text-align: center;
}
.features-container3 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.features-text13 {
  text-align: left;
}
.features-container4 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.features-text15 {
  text-align: left;
}
.features-container5 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.features-text17 {
  text-align: left;
}
.features-container6 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.features-text19 {
  text-align: left;
}
.features-container7 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.features-text21 {
  text-align: left;
}
.features-container8 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.features-text23 {
  text-align: left;
}
.features-fragment10 {
  display: contents;
}
.features-text24 {
  display: inline-block;
}
.features-fragment11 {
  display: contents;
}
.features-text25 {
  display: inline-block;
}
.features-fragment12 {
  display: contents;
}
.features-text26 {
  display: inline-block;
}
.features-fragment13 {
  display: contents;
}
.features-text27 {
  display: inline-block;
}
.features-fragment14 {
  display: contents;
}
.features-text28 {
  display: inline-block;
}
.features-fragment15 {
  display: contents;
}
.features-text29 {
  display: inline-block;
}
.features-fragment16 {
  display: contents;
}
.features-text30 {
  display: inline-block;
}
.features-fragment17 {
  display: contents;
}
.features-text31 {
  display: inline-block;
}
.features-fragment18 {
  display: contents;
}
.features-text32 {
  display: inline-block;
}
.features-fragment19 {
  display: contents;
}
.features-text33 {
  display: inline-block;
}
.features-fragment20 {
  display: contents;
}
.features-text34 {
  display: inline-block;
}
.features-fragment21 {
  display: contents;
}
.features-text35 {
  display: inline-block;
}
.features-fragment22 {
  display: contents;
}
.features-text36 {
  display: inline-block;
}
.features-fragment23 {
  display: contents;
}
.features-text37 {
  display: inline-block;
}
.features-fragment24 {
  display: contents;
}
.features-text38 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features-max-width {
    flex-direction: column;
  }
  .features-container1 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .features-container1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features-container3 {
    width: 100%;
  }
  .features-container4 {
    width: 100%;
  }
  .features-container5 {
    width: 100%;
  }
  .features-container6 {
    width: 100%;
  }
  .features-container7 {
    width: 100%;
  }
  .features-container8 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .features-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features-button {
    width: 100%;
  }
}
